@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #19a2ae;
  background-image: url(../src/assets/images/bg-pattern-top.svg),
    url(../src/assets/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom -13rem;
  background-size: 68%;
}
